form {

 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
gap: 40px;
 margin-left: 38%;
 margin-top: 6%;


width: max-content;

padding: 18px;
border-radius: 10px;
background-image: url("./img/anapsblue.jpg");
background-color: rgba(26, 73, 143, 0.57);
background-position-x: 20%;
background-position-y: 100%;
background-size: 1000px;
border: 10px ridge rgba(255, 255, 255, 0.081);






 

}

img{
max-width: 250px;


}
label{
display: flex;
flex-direction: column;
color: rgba(245, 245, 245, 0.91);
font-weight:lighter;


}
input{


  border-radius:  10px;
  border: 1px solid gray;
  height: 25px;
  width: 300px;
  
  
  
  
}
button{

  width: 200px;
  height: 40px;
  background-color: rgb(255, 204, 43);
  border: 1px solid rgb(222, 182, 2);
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;

}
span{

  color: rgb(255, 0, 0);
  position: absolute;
  margin-top: 50px;

}
body{
  background:radial-gradient(rgb(49, 83, 169), rgb(27,46,93));
  background-size: 50%;
}
